body {
    display: flex;
    gap: 30px;
}

.user-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.container {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.single-div {
    background-color: chartreuse;
}

.single-div-color {
    background-color: black;
}